body {
    background: #000;
    display: flex;
    justify-content: center;
    flex-direction: column ;
    align-items: center;

    color: #ffffff;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    font-family: CocogooseProTrial;
    font-style: normal;
    line-height: normal;
}


#title {
    margin-top: 5%;
    color: #F15025;
    text-align: center;
    font-size: 80px;
    font-weight: 400;
}

#subtitle {
    font-size: 14px;
    font-weight: 400;
}

#menu{
    margin-top: 100px;
    font-size: 12px;
    margin-bottom: 300px;
}

.menu-dots{
    letter-spacing: 3px;
}

.section_break{
    width: 100%;
    height: 20px;
    background-color: #ffffff;
}

.section_about_me {
    background-color: #F15025;
    width: 100%;
    padding: 80px 0;
}

.section_projects {
    background-color: #FFFFFF;
    width: 100%;
    padding: 80px 0;
    color:#000
}

.section_other_skills {
    background-color: #000;
    width: 100%;
    padding: 80px 0;
}


